<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%- include("./head/icons") %>

<%- include("./head/meta") %>

<%- meta %>

<link rel="stylesheet" href="/styles/style.css">
<%- style -%>

<script type="module" src="/scripts/script.js"></script>
<%- script %>
<script defer src="https://analytics.abhay7.dev/script.js" data-website-id="9c702154-4de2-4114-a515-486c3b716b91"></script>

<title><%- title -%></title>