<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("./components/head") %>
</head>

<body>

	<div class="loader">
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
	</div>

	<%- include("./components/top-nav") %>

		<main id="main">
			<header id="cover">
				<h1 class="pagetitle"><%- pagetitle %></h1>
				<%- defineContent("subhead") %>
					<noscript>
						<link rel="stylesheet" href="/styles/noscript.css">
						<h6>Damn. Why you gotta disable JS my guy? Some parts of this site ain't gonna work now :(</h6>
						<!-- TODO: Add CSS For No JS NavBar -->
					</noscript>
					<a class="scroll-down" href="#content"></a>
			</header>

			<article id="content">
				<%- body %>
			</article>
		</main>

		<%- include("./components/bottom-nav") %>
			<footer class="bot-nav">
				<a target="_blank" href="https://replit.com/@EpicGamer007">Replit</a>
				<a href="/valorant">Valorant</a>
				<a href="/minecraft">Minecraft</a>
				<a href="/xbox">Xbox</a>
				<a target="_blank" href="https://github.com/EpicGamer007">GitHub</a>
			</footer>

</body>

</html>