<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./components/head") %>
	</head>
	<body>
		
		<header id="cover">
			<h1 class="pagetitle"><%- pagetitle %></h1>
			<%- defineContent("subhead") %>
			<%- include("./components/nav") %>
		</header>
		
		<main>
			<%- body %>
		</main>
		
	</body>
</html>