<link rel="stylesheet" href="/styles/valorant.css">

<aside id="MainPlayer">
    <img src="<%- data.player.card.large %>" alt="<%- data.player.name %>'s Card">
    <hgroup>
        <h2><%- data.player.name %></h2>
        <h4>Level <%- data.player.level ></h4>
    </hgroup>
</aside>

<%- contentFor("title") %>
Valorant

<%- contentFor("pagetitle") %>
vAlorant