<link rel="stylesheet" href="/styles/valorant.css">

<aside id="MainPlayer">
    <h4 class="main-player-level">Level <%- data.player.level %></h4>
    <img src="<%- data.player.card.large %>" alt="<%- data.player.name %>'s Card">
    <hgroup>
        <h2 class="main-player-name"><%- data.player.name %></h2>
        <h4 class="main-player-title"><%- data.player.title %></h4>
        <img src="<%- data.rankDetails.current.icon %>" alt="<%- data.player.name %>'s Rank" class="main-rank-icon">
    </hgroup>
</aside>

<article id="Match">
    <img src="<%- data.latestGame.map.splash %>" alt="<%- data.latestGame.map.name %> Splash" loading="lazy" class="map-bg">
    <h2 class="comp-header">Competitive on <i><%= data.latestGame.map.name %></i> - (<%= data.latestGame.date %>)</h2>
    <div class="teams">
        <section class="team red">
            <h3 class="rounds-won">Rounds Won: <%= data.latestGame.redWins %></h3>
            <% data.latestGame.players.red.forEach((player) => { %>
                <div class="player">
                    <img src="<%- player.agent.card %>" alt="<%- player.agent.name %> Image" class="agent-icon">
                    <div class="player-info">
                        <img src="<%- player.card %>" alt="Player Card" class="player-card">
                        <h4 class="agent-name">
                            <%= player.agent.name %>
                            <% if(data.player.name == player.name) { %>
                                (<span class="main-player-name-card"><%= data.player.name %></span>)
                            <% } %>
                        </h4>
                    </div>
                    <div class="stats">
                        <p>Kills: <span class="kill"><%- player.stats.kills %></span></p>
                        <p>Deaths: <span class="death"><%- player.stats.deaths %></span></p>
                        <p>Assists: <span class="assist"><%- player.stats.assists %></span></p> 
                    </div>
                </div>
            <% }); %>
        </section>
        <section class="team blue">
            <h3 class="rounds-won">Rounds Won: <%= data.latestGame.blueWins %></h3>
            <% data.latestGame.players.blue.forEach((player) => { %>
                <div class="player">
                    <img src="<%- player.agent.card %>" alt="<%- player.agent.name %> Image" class="agent-icon">
                    <div class="player-info">
                        <img src="<%- player.card %>" alt="Player Card" class="player-card">
                        <h4 class="agent-name">
                            <%= player.agent.name %>
                            <% if(data.player.name == player.name) { %>
                                (<span class="main-player-name-card"><%= data.player.name %></span>)
                            <% } %>
                        </h4>
                    </div>
                    <div class="stats">
                        <p>Kills: <span class="kill"><%- player.stats.kills %></span></p>
                        <p>Deaths: <span class="death"><%- player.stats.deaths %></span></p>
                        <p>Assists: <span class="assist"><%- player.stats.assists %></span></p> 
                    </div>
                </div>
            <% }); %>
        </section>
    </div>
</article>

<%- contentFor("title") %>
Valorant

<%- contentFor("pagetitle") %>
vAlorant